@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Dosis:wght@200&display=swap');

* {
    box-sizing: border-box;
    max-width: 1200px;
    margin: auto;
}

body {
    font-family: 'Amatic SC', cursive;
    background-color: hsl(0, 0%, 10%);
}

#to-search {
    position: absolute;
    top:150px;
    left: 50%;
    transform: translate(-50%, 0);
    cursor:pointer;

    text-decoration: none;
    color:hsl(60, 40%, 60%);
    padding:5px;
    background-color: hsl(0, 0%, 20%);
    border-radius: 10px;
    font-size: 30px;
}
#to-search:hover {
    background-color: hsl(0, 0%, 40%);
}
h1 {
    text-align: center;
    color:hsl(0, 0%, 80%);
    font-size: 80px;
    margin-top:40px;
}

#world-map{
    max-width: 100%;
}

.flag-container img{
    margin:10px;
    height:30px;
    border-radius: 2px;
}

.flag-container {
    display:flex;
    min-width:90px;
    margin:0;
    margin-right:0px;
}

ul {
    padding: 0;
}

li {
    display:flex;
    flex-direction:column;
    flex-basis: 400px;
    flex-grow: 1;
    margin:4px;
    list-style-type: none;
    min-height: 80px;

    border: 1px solid  hsl(0, 0%, 30%);
    border-radius: 8px;
    background-image: linear-gradient(to bottom right, hsl(0, 0%, 20%), hsl(0, 0%, 10%));
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

section {
    display:flex;
    flex-direction: row;
    margin: 0;
}

h2 {
    margin:5px 0 0 0;
    font-size: 30px;
}

#list-countries {
    display:flex;
    flex-wrap:wrap;
    flex-basis: 400px;
}

/*a:link:active, a:visited:active {*/
/*    text-decoration: none;*/
/*}*/
/*#link-to-search {*/
/*    text-decoration: none;*/
/*}*/
a:link {
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
/* Continent item styling */
.europe *           { color: hsl(47,100%,60%); }
.asia *             { color: hsl(354,59%,56%); }
.africa *           { color: hsl(222,47%,55%); }
.oceania *          { color: hsl(288,42%,53%); }
.south-america *    { color: hsl(139,43%,59%); }
.north-america *    { color: hsl(119,27%,40%); }
.other-region *     { color: hsl(0,  0%, 60%); }

.population-amount {
    margin:0px 0px 10px 10px;
    color:hsl(0,0%,50%);
}
